* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f4f6;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #FB1B1B;
  color: #f8fafc;
  box-shadow: 0 4px 6px #0000001a;
}

.logo{
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo h1 {
  font-size: 26px;
  color: #f8fafc;
  letter-spacing: 1px;
}

.search-container{
  display: flex;
  align-items: center;
}

.search-input{
  padding: 10px;
  font-size: 16px;
  width: 220px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #cbd5e1;
  background-color: #FFF5EE;
  color: #1e293b;
}

.search-button{
  padding: 19.5px 19px 19px 19px;
  border-radius: 0 8px 8px 0;
  border: 1px solid #cbd5e1;
  background-color: #FFF5EE;
  position: relative;
}

.search-button::before{
  content: '';
  position: absolute;
  border: 2px solid #899499;
  border-radius: 100%;
  padding: 7px;
  top: 20%;
  left: 25%;
}

.search-button::after{
  content: '';
  position: absolute;
  width: 2px;
  height: 12px;
  top: 50%;
  left: 65%;
  transform: rotate(315deg);
  background-color: #899499;
}

.search-button:hover{
  background-color: #ececec;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 25px;
  background-color: #f3f4f6;
}

.pokemon-card {
  background-color: #F4F4F4;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  box-shadow: 0 4px 8px #0000000d;
  padding: 10px;
  width: 220px;
  height: 260px;
  gap: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.pokemon-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px #0000001a;
}

.pokemon-card img {
  width: 120px;
  height: 120px;
}

.pokemon-card h3 {
  font-size: 20px;
  margin: 0;
  color: #1e293b;
}

.pokemon-types {
  display: flex;
  gap: 6px;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 0 10px;
}

.pokemon-type {
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: "Anek Malayalam", sans-serif;
  font-weight: 700;
  color: #fff;
  padding: 6px 10px;
  border-radius: 12px;
  background-color: #3b82f6;
}

.pokemon-type img {
  width: 18px;
  height: 18px;
}

.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 30px 0;
}

button {
  padding: 12px 18px;
  cursor: pointer;
  border: none;
  background-color: #FB1B1B;
  color: #FFFFFF;
  border-radius: 8px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #de1111;
}

button:disabled {
  background-color: #94a3b8;
  cursor: not-allowed;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b62121;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.loader {
  height: 60px;
  aspect-ratio: 1;
  position: relative;
}

.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transform-origin: bottom;
}

.loader::after {
  background: radial-gradient(at 75% 15%,#fffb,#0000 35%),
    radial-gradient(at 80% 40%,#0000,#0008),
    radial-gradient(circle  5px,#fff 94%,#0000),
    radial-gradient(circle 10px,#000 94%,#0000),
    linear-gradient(#F93318 0 0) top   /100% calc(50% - 5px),
    linear-gradient(#fff    0 0) bottom/100% calc(50% - 5px)
    #000;
  background-repeat: no-repeat;
  animation: l20 1.5s infinite cubic-bezier(0.5,120,0.5,-120);
}

@keyframes l20 {

  49.99% {
    transform: rotate(0.2deg)
  }

  50% {
    transform: rotate(-0.2deg)
  }
}

.hidden {
  display: none;
}
